.header{
    border:solid;
    color:black;
    border-width: 5px;

    background-color:red;
    display:flex ;

    padding-left: 5px;
    padding-top: 5px;
}

.additionalHInfo{
    margin-left: -20px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.name h1{
    font-size: 45px;

    margin-left: -230px;
    margin-top: 50px;
}

.options{
    display:flex;
    justify-content: space-between;

    margin-left: -10px;
    margin-top: 65px;
}
.options a{
    margin-left:-30px;
    margin-top: 20px;
}

.menu a{
    font-size: 20px;

    margin-top: 2px;
    margin-left: 10px;
}




.phase{
    border:solid;
    color:black;
    border-width: 5px;

    background-color: rgb(255, 255, 255);
}
.phaseA{
    border:solid;
    color:black;
    border-width: 2.5px;

    margin-right: -1px;
    margin-left: -2.5px;

    background-color: rgb(51, 102, 255);
}
.phaseB{
    border:solid;
    color:black;
    border-width: -1px;

    margin-right: -1px;
    margin-left: -2.5px;

    background-color: rgb(255, 51, 0);
}




.table{
    background-color: rgb(0, 0, 255);

    border:solid;
    color:black;
    border-width:5px;

    margin-left:300px;
    margin-right: 300px;

    font-size: 25px;
}


.character{
    background-color: rgb(255, 255, 255);
}

.A{
    border:solid;
    color:black;

    background-color: blue;

    justify-content: space-evenly;
}

.B{
    border:solid;
    color:black;

    background-color: red;

    justify-content: space-evenly;
}

.image{
    border: solid;
    color:black
}

.info{
    border: solid;
    color:black;
}


.others{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.other{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.oA{
    background-color: blue;
    border:solid;
    color:black;
    border-width: 2px;
    justify-content: space-evenly;
}
.oB{
    background-color: red;
    justify-content: space-between;
    border:solid;
    color:black;
    border-width: 2px;
}

.A a{
    opacity:1;
}
.A hover:p{
    opacity:0.5;
    border:solid;
    color:black
}